body {
    background-color:pink;
}
.hero-image {
    background: url("../images/me.jpg.jpg");
    
}
.hero-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}