body {
    background-color: antiquewhite;
}
.header {
    overflow: hidden;
    background-color: rgb(220,20,60);
    padding: 20px 10px;
}
.header ul li {
    float: left;
    color: midnightblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius:4px;
    padding-right: 50px;
}
.header a {
    color:  wheat;
}
.header ul li {
    list-style-type: none;
    text-decoration: none;
}
.header a {
    text-decoration: none;
}
.header img {
    width: 100px;
}
.header a:hover {
    background-color: darkorchid;
    color: floralwhite;
}
.header a.active {
    background-color: goldenrod;
    color: wheat;
}
.header-right {
    float: right;
}


#hero {
    background-image: linear-gradient(rgba(128,0,128,0.7), rgba(0,255,255,0.5)), url("../images/bb-pink.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#hero h5 {
    color: #0094fb;
    font-size: 40px;
    font-weight: 200;
    line-height: 130%;
    font-weight: bolder;
}

.hero-text {
    color: gold;
    text-align: left;
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    line-height: 130%;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    float: center;
}
.button {
    background: ivory;
    font-weight: bold;
    border: none;
    color: gold;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
    background-color: cadetblue;
}
.column2 {
    float: right;
    width: 50%;
    padding: 10px;
    height: 100vh;
    padding-right: 10px;
    background-color: cyan;
}
.column2 img {
    width: 700px;
    height: 500px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}